<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank You <%= @user.name %> for using Kalpvriksha Transportation</h1>
    <p>
      You have successfully done your booking.<br>
    </p>
    <p>Thanks for Booking and have a great day!</p>
  </body>
</html>
