<img src="<%= asset_path("transport5.webp")%>" width="100%", height="700vh"> 
<div class="container py-5">
	<div class="row align-items-center">
		<div class="col-md-6">
		  <h3 class="text-uppercase fw-bold mt-5">ABOUT OUR COMPANY</h3>
		  <hr class="mb-4 d-inline-block mx-auto" style="width: 330px; background-color: #7c4dff; height: 2px"/>
		  <p>Welcome to Unicorn Packers and Movers  Indore! We are one of the topnotch Packers and Movers. bestowed with numerous esteemed awards for reaching the exceptional heights by serving the customers most proficiently. We have aptly amalgamated new-age technology and inventiveness with the values by respecting the sentiments of our customers associated with their possessions. With the highly skilled team serving you to the best of their abilities day in day out, we have been able to carve our forte in the Packing and Moving industry.</p>
		</div>
		<div class="col-md-6">
			<div class="about_img">
				<img src="<%= asset_path('transport8.jpg')%>" alt="about_img" width="100%" height="350pv"> 
			</div>
		</div>
	</div>
</div>